/* reset, 공통 클래스 */
:root {
  font-family: "IBM Plex Mono", "Pretendard", sans-serif;
  line-height: 1.4;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  font-family: inherit;
  cursor: pointer;
}

ul, ol {
  list-style: none;
}

.flex {
  display: flex;
}

/* 타이틀 */
h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
}

h2.title-sm {
  margin-bottom: 24px;
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;
}

.title-sub {
  position: relative;
  margin-left: 32px;
  font-size: 18px;
  font-weight: 400;
}

.title-sub::after {
  content: "";
  position: absolute;
  left: -16px;
  top: 0;
  width: 1px;
  height: 24px;
  background-color: #555;
}

/* 포인트 단어 */
.point-word {
  display: inline-block;
  padding: 8px 14px;
  border-radius: 8px;
}

span.point-word {
  background-color: rgba(6, 162, 224, 0.12);
  color: #06A2E0;
}

a.point-word {
  position: relative;
  background-color: #06A2E0;
  color: #fff;
}

a.point-word::after {
  content: "";
  position: absolute;
  left: 14px;
  bottom: 8px;
  width: calc(100% - 28px);
  height: 2px;
  background-color: #fff;
}

/* 버튼 */
.btn-point {
  border-color: #06A2E0;
  color: #06A2E0;
  transition: 0.2s ease-out;
}
.btn-point:hover {
  background-color: rgba(6, 162, 224, 0.2);
}

.btn-gray {
  border-color: #A6A6A6;
  color: #A6A6A6;
  transition: 0.2s ease-out;
}
.btn-gray:hover {
  background-color: rgba(200, 200, 200, 0.2);
}